*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url("images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
nav{
    background: #df58df;
    height: 40px;
    width: 100%;
}
.ad{
    color: rgb(194, 55, 20);
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}
nav ul{
    float: right;
    height:100%;
    margin-right: 20px;
    display:flex;
    justify-content: center;
    align-items: center;

} 
nav ul li{
    display: inline-block;
    margin: 0 5px;
    color:rgb(24, 11, 11);
    font-size: 18px;
    text-transform: uppercase;
    padding: 3px 7px;
    text-align: center;
    cursor: pointer;
    position: sticky;
    top: 0;
}
.menu :hover{
    background: rgb(235, 28, 5);
    transition: .2s;
    border-radius: 4px;
}
.product-icons{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    gap: 8px;
    width:fit-content;
    height: fit-content;
    box-sizing:border-box ;
}
.icon:hover{
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    gap:8px;
}
.icon img{
    height: 50px;;
}
 .fotter{
    /*background-color: #f5ebf5; */
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: azure;
    justify-content: space-between;
    text-align: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
span{
    color: black;
    font-size: 1.5em;
}
a{
    color: black;
    text-decoration: solid;
}
 li:hover{
    background: rgb(235, 28, 5);
    transition: .02s;
    border-radius: 4px;
}
ul{
   
}